In [1]:
# Print the price
sales_price = 24500
#variable total_price not defined
print(total_price)

NameError: name 'total_price' is not defined

In [5]:
# Print the price
sales_price = 24500
print(sales_price)

24500

In [2]:
# Print a text string verbatim
print "My name is James Bond"
#missing brakets in print

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("My name is James Bond")? (1268318779.py, line 2)

In [6]:
# Print a text string verbatim
print ("My name is James Bond")

My name is James Bond

In [3]:
# Determine if x is greater than 10
x = 11 

if x > 10:
#no indented here
print('X is greater than 10')
else: 
    print('x is not greater than 10')

IndentationError: expected an indented block (2307915875.py, line 6)

In [7]:
# Determine if x is greater than 10
x = 11 

if x > 10:
    print('X is greater than 10')
else: 
    print('x is not greater than 10')

X is greater than 10

In [4]:
# Create the variable list_a
list_a = [1,2,3,4,'Ayaan', 'Hirsi']
#not in the list defined
list_a[11]

IndexError: list index out of range

In [8]:
# Create the variable list_a
list_a = [1,2,3,4,'Ayaan', 'Hirsi']
list_a[5]

'Hirsi'