In [1]:
# Printing a specific date.
import datetime
d = datetime.date(2021, 6, 10)

print(d)
print(type(d))

2021-06-10
<class 'datetime.date'>

In [2]:
# Import the DateTime module and date class.
from datetime import date

d = date(2022, 2, 10)
print(d)
print(type(d))

2022-02-10
<class 'datetime.date'>

In [6]:
import datetime
x = datetime.datetime.now()
print(x)

2022-09-14 20:14:38.297385

In [8]:
# Printing current year, month and day.
from datetime import date
#date object of today's date
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2022
Current month: 9
Current day: 14

In [9]:
# Import module.
from datetime import time

# Creating a time object.
# time(hour, minute, second, microsecond). 
t = time(6, 45, 25, 234566) 

print("time =",t)

time = 06:45:25.234566

In [10]:
# Creating a time object.
# time (hour, minute, second, microsecond) 
t = time (6, 45, 25, 234566)

print("hour =", t.hour)
print("minute =", t.minute)
print("second =", t.second)
print("microsecond =", t.microsecond)

hour = 6
minute = 45
second = 25
microsecond = 234566

In [11]:
# Import module and class.
from datetime import datetime

t = datetime (2017, 11, 28, 23, 55, 59, 342380)
print("year =", t.year)
print("month =", t.month)
print("day =", t.day)
print("hour =", t.hour)
print("minute =", t.minute)
print("seconds =", t.second)
print("micro seconds =", t.microsecond)

year = 2017
month = 11
day = 28
hour = 23
minute = 55
seconds = 59
micro seconds = 342380

In [12]:
from datetime import datetime, date 
# You can import more than one class or object at a time from a module.

t1 = datetime(year=2021, month=12, day=15, hour=5, minute=45, second=25)
t2 = datetime(year=2019, month=10, day=28, hour=12, minute=55, second=13)
t3 = t1 - t2
print("time difference =", t3)
print("type of t3 =", type(t3))

time difference = 778 days, 16:50:12
type of t3 = <class 'datetime.timedelta'>

In [13]:
t1 = datetime(year=2021, month=12, day=15, hour= 5, minute=45, second=25)
t2 = datetime(year=2019, month=10, day=28, hour= 12, minute=55, second=13)
t3 = t1 - t2

print("time difference in seconds =", t3.total_seconds())
print("type of t3 =", type(t3))

time difference in seconds = 67279812.0
type of t3 = <class 'datetime.timedelta'>

In [14]:
# Import the datetime module and datetime class.
from datetime import datetime

# Current date and time .
now = datetime.now() 
print('Current time', now)

# Using strftime to only print hours, minutes and seconds. 
t = now.strftime("%H:%M:%S")
print("Time with only hours, minutes and seconds:", t)

Current time 2022-09-14 20:19:14.680498
Time with only hours, minutes and seconds: 20:19:14

In [15]:
# Changing the separators: 
t1 = now.strftime("%m/%d/%Y")

# MM/DD/YY format.
print("Date with / separators :", t1)

Date with / separators : 09/14/2022

In [16]:
# The date string you create in the previous code snippet.
date_string = "30 October 2021"

# Print the date_string.
print("date_string=", date_string)
print("Data type of date-string -->" , type(date_string))


# This is the date format.
date_object = datetime.strptime(date_string, "%d %B %Y") 

# Print the date_object.
print("date_object =", date_object) 
print("Datatype of the date_string after formating with strptime -->",
      type(date_object))

date_string= 30 October 2021
Data type of date-string --> <class 'str'>
date_object = 2021-10-30 00:00:00
Datatype of the date_string after formating with strptime --> <class 'datetime.datetime'>

In [17]:
# Import modules and classes.
import datetime 
from datetime import datetime, date 
import pytz

local = datetime.now()
print("Local:", local.strftime ("%d/%m/%Y, %H:%M:%S"))

# Here, datetime_NY and datetime_London are datetime objects containing the 
# current date and time of their respective time zones.
tz_NY = pytz.timezone ('America/New_York')
datetime_NY = datetime.now(tz_NY)

print("NY:", datetime_NY.strftime("%d/%m/%Y, %H:%M:%S"))

tz_London = pytz.timezone ('Europe/London') 
datetime_London = datetime.now(tz_London)

print("London:", datetime_London.strftime ("%d/%m/%Y, %H:%M:%S"))

Local: 14/09/2022, 20:23:15
NY: 14/09/2022, 15:23:15
London: 14/09/2022, 20:23:15

In [22]:
from datetime import time
t = time(14, 42, 5, 566)
print("hour =", t.hour)
print("minute =", t.minute)
print("second =", t.second)
print("microsecond =", t.microsecond)
print('time is', t)

hour = 14
minute = 42
second = 5
microsecond = 566
time is 14:42:05.000566

In [27]:
from datetime import datetime
dt = datetime(2019, 1, 28, 23, 55, 59, 1023)
print("date is", dt.strftime("%Y/%m/%d, %H:%M:%S"))

date is 2019/01/28, 23:55:59

In [37]:
from datetime import datetime
now = datetime.now()
print("Current date is", now.strftime("%d/%m/%Y"))

Current date is 14/09/2022

In [47]:
from datetime import datetime
day = datetime(2017,1,28)
print('date is', day.strftime("%d %B %Y"))

date is 28 January 2017